@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inconsolata", monospace;
}

body {
  background-color: #ffffff;
}

.App {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.calculator {
  width: 100%;
  max-width: 420px;
  background-color: #fff;
  border-radius: 1rem;
  overflow: hidden;
  border: 2px #636363 solid;
}

.display {
  padding: 1rem;
  text-align: right;
  background-color: #1a1a1a;
  color: #eaeaea;
  font-size: 2rem;
}

.display span {
  font-size: 1.2rem;
  color: #888;
}

button {
  appearance: none;
  border: none;
  outline: none;
  color: #181818;
  font-size: 1.5rem;
  padding: 1rem;
  cursor: pointer;
}

.digit {
  display: flex;
  flex-wrap: wrap;
}

.digit button {
  flex: 1 1 33.3333%;
  max-width: 33.3333%;
  background-color: #e0e0e0;
  border: 1px #636363 solid;
}

button:hover {
  background-color: #a5a5a5;
}

.operator {
  display: flex;
}

.operator button {
  flex: 1 1 0%;
  background-color: #002a68;
  border: 1px #636363 solid;
  color: #cccccc;
}
